@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
   background-color: white;
   color: black;
}
/* styles.css */
/* Hide the vertical scrollbar */
::-webkit-scrollbar {
  width: 0;
}

/* Hide the horizontal scrollbar */
::-webkit-scrollbar:horizontal {
  height: 0;
}
/* In your CSS file, e.g., styles/globals.css */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.container {
  height: 100vh; /* Adjust to the desired height */
  overflow: hidden;
  position: relative;
}

.animate-on-scroll {
  opacity: 0;
  transform: translateY(20px); /* Adjust to the desired initial position */
  transition: opacity 0.5s ease, transform 0.5s ease;
}

.container.active .animate-on-scroll {
  opacity: 1;
  transform: translateY(0);
}
video::-webkit-media-controls {
  display: none !important;
}
/* Hide the full-screen button */
video::-webkit-media-controls-fullscreen-button {
  display: none !important;
}
 
